---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---
<Layout>
  <main>
    <section class="hero">
      <div class="text-container">
        <h1>Partners</h1>
        <p>Intro XL is a leading provider of innovative, credit servicing solutions designed to transform the way financial institutions operate. By addressing inefficiencies in traditional lending processes, we empower lenders to achieve greater efficiency, compliance, and growth.</p>
      </div>
      <div class="form-container">
        <Form></Form>
      </div>
    </section>
    <section class="partner">
      <section class="payments"></section>
    </section>
  </main>
</Layout>