---
import Image from "astro/components/Image.astro"
import svgLogo from "../assets/image/logo.png";
---

<header>
  <nav>
    <div class="logo">
      <a href="/">
        <Image src={svgLogo} alt="logo" width={129}/>
      </a>
    </div>
    <div class="mobile-menu">
      <button id="mobileMenu" class="bar">
      <svg class="menubar" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(32, 32, 32)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 100%; height: 100%;"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      <svg class="close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(32, 32, 32)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 100%; height: 100%;"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </button>
    </div>
    <div class="navbar">
      <ul class="nav-list">
        <li><a href="/Advantage" class="nav-link">The Intro XL Advantage</a></li>
        <li><a href="/Solution" class="nav-link">Solutions</a></li>
        <li><a href="/Partner" class="nav-link">Partners</a></li>
        <li><a href="/About" class="nav-link">About</a></li>
        <li><a href="/Contact" class="nav-link">Contact</a></li>
      </ul>
      <div class="button-container">
        <a href="#" class="btn-primary">Book a demo</a>
        <a href="#">Log in</a>
      </div>
    </div>
  </nav>
</header>
<script src="../components/menu.js"></script>

<style>

  header {
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0, 0.08);
  }

  nav {
    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;
  }

  .logo {
    padding-left: 10px;
  }

  .logo img {
    max-width: unset;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav-link {
    font-size: 15px;
    line-height: 2;
    color: rgb(26, 166, 114);
  }

  .nav-link:hover {
    color: rgb(3, 97, 62);
    text-decoration: underline;
  }

    /* mobile menu */
    .mobile-menu {
    height: 24px;
    width: 24px;
    display: none;
    position: relative;
  }

  .bar {
    content: '';
    border: none;
    background: transparent;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    z-index: 1;
  }

  .close {
    display: none;
  }

  .button-container {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  @media screen and (width < 1024px) {

    header {
      padding: 10px 20px;
    }

    header:has(.nav-list.active) {
      position: sticky;
      top: 0;
      z-index: 1;
      will-change: transform;
    }

    nav {
      flex-wrap: wrap;
    }

    .mobile-menu {
      display: block;
    }

    .bar.active {
      /* top: -10px; */
      border: none;
    }

    .bar.active .menubar {
      display: none;
    }

    .bar.active .close {
      display: block;
    }

    .nav-list {
      width: 100%;

      padding-inline: 3vw;
      /* height: 0; */
      overflow: hidden;
      /* opacity: 0; */
      /* transition: all ease-in-out 0.5s; */
      display: flex;
      flex-direction: column;
      align-items: start;
      background-color: white;
      position: absolute;
      top: 100%;
    }

    .nav-list li {
      width: 100%;
    }

    .nav-list.active {
      padding-top: 20px;
      /* width: 100%; */
      /* height: 335px; */
      /* padding-top: calc(60px); */
      /* opacity: 1; */

    }

    .nav-link {
      font-size: 18px;
      line-height: 1.5;
    }

    .button-container {
      width: 100%;
      padding: 10px;
      gap: 40px;
    }

    .button-container a {
      flex: 1 0 0px;
    }

    .button-container .btn-primary {
      padding: 30px;
    }
  }
</style>